<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css" />
    <title>Torrent Service</title>
  </head>
  <body>
    <input type="text" id="search-box" />
    <div id="hits-container"></div>
    <div id="pagination-container"></div>

    <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script>
      var search = instantsearch({
        appId: '[[.AppId]]',
        apiKey: '[[.SearchKey]]',
        indexName: '[[.IndexName]]'
      });

      search.addWidget(
        instantsearch.widgets.searchBox({
          container: '#search-box',
          placeholder: 'Search...',
		  autofocus: true,
		  poweredBy: true,

        })
      );

      search.addWidget(
        instantsearch.widgets.hits({
          container: '#hits-container',
          templates: {
            item: '<a href="https://tr.dethi.fr/data/{{InfoHash}}.tar">{{Name}}</a>'
          },
		  hitsPerPage: 50
        })
      );

      search.addWidget(
        instantsearch.widgets.pagination({
          container: '#pagination-container'
        })
      );

      search.start();
    </script>
  </body>
</html>
