<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css" />
    <title>Torrent Service</title>
  </head>
  <body>
    <p><strong>WARNING:</strong> the torrents are deleted after 48 hours due to server migration</p>
    <p>Available disk space: [[.AvailableDiskSpace]] GB</p>

    <input type="text" id="search-box" />
    <div id="sort-by-container"></div>
    <div id="stats-container"></div>
    <div id="hits-container"></div>
    <div id="pagination-container"></div>

    <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script>
      var search = instantsearch({
        appId: '[[.AppId]]',
        apiKey: '[[.SearchKey]]',
        indexName: '[[.IndexName]]'
      });

      search.addWidget(
        instantsearch.widgets.searchBox({
          container: '#search-box',
          placeholder: 'Search...',
		  autofocus: true,
		  poweredBy: true,

        })
      );

      search.addWidget(
        instantsearch.widgets.sortBySelector({
          container: '#sort-by-container',
          indices: [
            {name: '[[.IndexName]]', label: 'Descending'},
            {name: '[[.IndexName]]_asc', label: 'Ascending'}
          ]
        })
      );

      search.addWidget(
        instantsearch.widgets.stats({
          container: '#stats-container'
        })
      );

      search.addWidget(
        instantsearch.widgets.hits({
          container: '#hits-container',
          templates: {
            item: '<a href="https://tr.dethi.fr/data/{{InfoHash}}.tar">{{Name}}</a>'
          },
		  hitsPerPage: 50
        })
      );

      search.addWidget(
        instantsearch.widgets.pagination({
          container: '#pagination-container'
        })
      );

      search.start();
    </script>
  </body>
</html>
